ul.dropdown-menu > li {
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    /*border-bottom: 1px solid lightgray;*/
}

ul.dropdown-menu > li:hover {
    background-color: #ffecb3;
}

.search-criteria {
  margin-top: 10px;
}

.criterion {
    display: inline-block;
    /*padding: .25em .5em;*/
    border-radius: 5px;
}

.criterion > .list-group {
    margin-bottom: 0;
    cursor: pointer;
}

.criterion > .list-group > .list-group-item {
    /*background-color: #9CC1BC;*/
    background-color: #bbdefb;
}

.criterion .badge {
    margin-left: 5px;
}

.label-search {
    
}