<div class="input-group">
    <input ng2-auto-complete type="text" class="form-control" placeholder="Search for..." 
            [formControl]="search" [source]="observableSource.bind(this)" [min-chars]="2"
            [list-formatter]="autocompleListFormatter" value-property-name="id" display-property-name="text">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
    </span>
</div>
<p>{{testVar | json}}</p>
<!--<p>{{autoCompleteSource | json}}</p>-->