<div class="input-group">
    <input ng2-auto-complete type="text" class="form-control" placeholder="Search for..." 
            [formControl]="search" [source]="mySource">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
    </span>
</div>

<!--<input [formControl]="search"-->
<!--               [source]="mySource"-->
<!--               [list-formatter]="autocompleListFormatter"-->
<!--               value-property-name="id"-->
<!--               display-property-name="name"-->
<!--               class="form-control">-->