<!--<div class="col-md-3">-->
<!--    <nav id="school-nav">-->
<!--        <ul class="nav nav-pills nav-stacked" *ngIf="schoolData !== undefined || schoolData !== false">-->
<!--            <li *ngFor="let school of schoolData | async">-->
<!--                <a href="#{{school.code}}">{{school.description}}</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <rust-search [searchPipe]="rustSearchPipe"></rust-search>
    </div>
</div>
<div class="row">
    <!--<div class="col-sm-2 col-xs-2">-->
    <!--    <h3>Searches</h3>-->
    <!--</div>-->
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h3>School Data</h3>
        <div id="school-details" class="list-group" data-spy="scroll" data-target="#school-nav" *ngIf="schoolData !== undefined || schoolData !== false">
            <div class="list-group-item school-list" *ngFor="let school of schoolData | async | rustSearch:'schools'" 
                (click)="selectSchool(school)"> 
                <!--[@schoolState]=school.selected>-->
                <h4 id="{{school.code}}" class="details-title">
                    {{school.code}}: {{school.description}}
                </h4>
                <p>Number of subjects: {{school.subjects.length}}</p>
                <subject-details *ngIf="school.selected == true" [schoolId]="school._id" 
                    [schoolCode]="school.code"></subject-details>
            </div>
        </div>  
    </div>
</div>
