<div class="input-group"> 
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" name="searchType" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selectedSearch.displayText}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li *ngFor="let type of searchTypes" (click)="selectedSearch=type">
                <p>{{type.displayText}}</p>
                <!--<a href="#" (click)="selectedSearch=type" >{{type.displayText}}</a>-->
            </li>
        </ul>
        
    </div> <!-- /input-group-btn -->
    
    <input type="text" class="form-control" name="search" [formControl]="search" 
            placeholder="{{selectedSearch.example}}" (keyup.enter)="addSearchCriterion()"> 
    <span class="input-group-btn">
    <button (click)="addSearchCriterion()" class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add search criteria
    </button>
    </span>
</div> <!-- /input-group -->

<!--<div class="well">-->
<div class="search-criteria" (click)="OnClick()">
    <div *ngFor="let criterion of searchParams" class="criterion" 
            (click)="deleteSearchCriterion(criterion.searchKey)">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                <b> {{criterion.searchKey.type}}</b> with &quot;{{criterion.searchKey.value}}&quot; 
                <span class="badge"> {{criterion.searchResults[criterion.searchKey.type].length}}</span>
            </li>
        </ul>
        <!--<span class="label label-default delete-icon">-->
            
        <!--</span>-->
    </div>
    <!--<span *ngFor="let criterion of searchParams" class="label label-search" -->
    <!--        (click)="deleteSearchCriterion(criterion.searchKey)">  -->
    <!--    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>-->
    <!--    <b>{{criterion.searchKey.type}}:</b> {{criterion.searchKey.value}}-->
    <!--</span>-->
</div>