<div *ngIf="subjectData !== undefined || subjectData !== false">
    <!--<div (click)="logSubjects()">Click to log subjects</div>-->
    <div class="list-group-item subject-list" *ngFor="let subject of subjectData | async | rustSearch: 'subjects'" (click)="selectSubject(subject)">
        <h5 class="details-title">
        {{subject.code}}: {{subject.description}} <span class="badge">{{subject.numCourses}}</span>
        </h5>
        
        <course-details [schoolId]="schoolId" [schoolCode]="schoolCode" [subjectId]="subject._id" [subjectCode]="subject.code" 
        *ngIf="subject.selected == true"></course-details>
        <!--<p *ngIf="subject.selected == true">schoolCode: {{schoolCode}} | schoolId: {{schoolId}}</p>-->
    </div>
    
    <!--<div *ngFor="let subject of subjects">{{schoolId}}: {{subject.code}}</div>-->
</div>