/*h1 {*/
/*  color: #369;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  font-size: 250%;*/
/*}*/

#school-nav {
  float: left;
  width: 20%;
  min-width: 170px;
}

#school-details {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

.school-list {
  background-color: #ECEFF1;
}

.details-title {
  color: #263238;
  font-weight: bold;
}

.details-title h6 {
  font-size: 13px;
}

.subject-list {
  background-color: #CFD8DC;
}

.course-list {
  background-color: #B0BEC5;
}

.course-info {
  display: inline-block;
}

.course-info p {
  float: left;
  margin-right: 10px;
}

.table-semester {
  background-color: #ECEFF1;
}

.table-semester, .table-semester th {
  text-align: center;
}

section-details {
  display: block;
}